<nav
      class="navbar navbar-expand-md bg-navbar navbar-dark sticky-top"
    >
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" height="50" width="50" class="img-logo" alt="samanwale logo">
      <h4 class="d-inline">Saman<span id="w">Wale</span></h4>
    </a>
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navb"
        aria-expanded="true"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navb" class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
  <button  type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%for(let i=0;i<categories.length;i++){%>
      <a class="dropdown-item" href="#"><%=categories[i].name%></a>
      <%}%>
  </div>
</div>
          </li>
        <%if(!user){%>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/signup"
              ><span class="fa fa-user"></span> Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link font-weight-bold" href="/login"
              ><span class="fa fa-sign-in "></span> Login</a
            >
          </li>
          <%}else{%>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/profile"
              ><span class="fa fa-user"></span> Profile</a
            >
          </li>
          <li class="nav-item">
            <a  class="nav-link font-weight-bold" href="/logout"
              ><span class="fa fa-sign-out "></span> Logout</a
            >
          </li>
        <%}%>
        </ul>
      </div>
    </nav>
